In [1]:
import pandas as pd
import re
# è¯»å– CSV æ–‡ä»¶
file_path = "./data_science_salaries.csv"  # æ›¿æ¢ä¸ºä½ çš„ CSV æ–‡ä»¶è·¯å¾„

df = pd.read_csv(file_path, encoding="utf-8", low_memory=False)

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_title           6599 non-null   object
 1   experience_level    6599 non-null   object
 2   employment_type     6599 non-null   object
 3   work_models         6599 non-null   object
 4   work_year           6599 non-null   int64
 5   employee_residence  6599 non-null   object
 6   salary              6599 non-null   int64
 7   salary_currency     6599 non-null   object
 8   salary_in_usd       6599 non-null   int64
 9   company_location    6599 non-null   object
 10  company_size        6599 non-null   object
dtypes: int64(3), object(8)
memory usage: 567.2+ KB
None
        job_title experience_level employment_type work_models  work_year  \
0   Data Engineer        Mid-level       Full-time      Remote       2024
1   Data Engineer        Mid-level       Full-time      Remote       2024
2  Data Scientist     Senior-level       Full-time      Remote       2024
3  Data Scientist     Senior-level       Full-time      Remote       2024
4    BI Developer        Mid-level       Full-time     On-site       2024

  employee_residence  salary salary_currency  salary_in_usd company_location  \
0      United States  148100             USD         148100    United States
1      United States   98700             USD          98700    United States
2      United States  140032             USD         140032    United States
3      United States  100022             USD         100022    United States
4      United States  120000             USD         120000    United States

  company_size
0       Medium
1       Medium
2       Medium
3       Medium
4       Medium

In [2]:
# 1ï¸âƒ£ å¤„ç†ç¼ºå¤±å€¼ï¼ˆå¦‚æœå­˜åœ¨ï¼‰
df = df.dropna()  # ç›´æ¥åˆ é™¤ç¼ºå¤±å€¼ï¼ˆå¦‚æœæ•°æ®è¾ƒå°‘ï¼‰

In [3]:
# 2ï¸âƒ£ ç»Ÿä¸€ç»éªŒçº§åˆ« experience_level
df["experience_level"] = df["experience_level"].str.lower().str.strip()

# 3ï¸âƒ£ ç»Ÿä¸€é›‡ä½£ç±»å‹ employment_type
df["employment_type"] = df["employment_type"].str.lower().str.strip()

# 4ï¸âƒ£ ç»Ÿä¸€å·¥ä½œæ¨¡å¼ work_models
df["work_models"] = df["work_models"].str.lower().str.strip()

In [4]:
# 5ï¸âƒ£ è½¬æ¢ `work_year` ä¸ºæ•´æ•°
df["work_year"] = pd.to_numeric(df["work_year"], errors="coerce")

# 6ï¸âƒ£ å¤„ç† `salary` ç›¸å…³å­—æ®µ
df["salary"] = pd.to_numeric(df["salary"], errors="coerce")  # ç¡®ä¿æ˜¯æ•°å€¼ç±»å‹
df["salary_in_usd"] = pd.to_numeric(df["salary_in_usd"], errors="coerce")  # ç¡®ä¿æ˜¯æ•°å€¼ç±»å‹

In [5]:
# 7ï¸âƒ£ æ ‡å‡†åŒ– `company_size`
df["company_size"] = df["company_size"].str.lower().str.strip()

In [6]:
# 8ï¸âƒ£ æ ‡å‡†åŒ– `company_location` & `employee_residence`
df["company_location"] = df["company_location"].str.title().str.strip()  # é¦–å­—æ¯å¤§å†™
df["employee_residence"] = df["employee_residence"].str.title().str.strip()  # é¦–å­—æ¯å¤§å†™

In [7]:
# 9ï¸âƒ£ ç¡®ä¿æ•°æ®ç±»å‹æ­£ç¡®
df = df.astype({
    "experience_level": "category",
    "employment_type": "category",
    "work_models": "category",
    "company_size": "category",
    "work_year": "int64",
    "salary": "int64",
    "salary_in_usd": "int64"
})

In [8]:
import os

# è·å–å½“å‰ Notebook (`clean_data.ipynb`) æ‰€åœ¨ç›®å½•
current_dir = os.getcwd()

# è·å– `Projekt` æ ¹ç›®å½•ï¼ˆå³ `raw_data` çš„ä¸Šä¸€çº§ç›®å½•ï¼‰
projekt_root = os.path.abspath(os.path.join(current_dir, "..", ".."))

# å®šä¹‰ `cleaned_data` ç›®å½•çš„æ­£ç¡®è·¯å¾„
cleaned_data_dir = os.path.join(projekt_root, "cleaned_data")

# ç¡®ä¿ `cleaned_data` ç›®å½•å­˜åœ¨
os.makedirs(cleaned_data_dir, exist_ok=True)

# ç”Ÿæˆæ–°çš„æ–‡ä»¶è·¯å¾„
cleaned_file_path = os.path.join(cleaned_data_dir, "cleaned_data_science_salaries.csv")

# ä¿å­˜æ–‡ä»¶åˆ° `Projekt/cleaned_data`
df.to_csv(cleaned_file_path, index=False, encoding="utf-8")
print(f"âœ… æ•°æ®æ¸…ç†å®Œæˆï¼Œæ–‡ä»¶å·²ä¿å­˜è‡³ {cleaned_file_path}")

âœ… æ•°æ®æ¸…ç†å®Œæˆï¼Œæ–‡ä»¶å·²ä¿å­˜è‡³ G:\Nextcloud\FSU_Cloud\Big Data\Projekt\cleaned_data\cleaned_data_science_salaries.csv

In [9]:
# # ğŸ”Ÿ ä¿å­˜æ¸…ç†åçš„æ•°æ®
# cleaned_file_path = "./cleaned_data_science_salaries.csv"
# df.to_csv(cleaned_file_path, index=False, encoding="utf-8")

# print(f"âœ… æ•°æ®æ¸…ç†å®Œæˆï¼Œæ–‡ä»¶å·²ä¿å­˜è‡³ {cleaned_file_path}")

# # ğŸ” é¢„è§ˆæ¸…ç†åçš„æ•°æ®
# print(df.info())
# print(df.head())